:root {
    --color-bg: #FFFFFF;
    --color-bg-dark: #F2F2F2;
    --color-txt: #000000;
    --color-txt-light: #F0F0F0;
    --color-main: #3CB371;
    --color-not-active: #85b49c;
    --color-accent: #4FD48A;
    --color-hover: #18AB77;
    --color-click: #00CE86;
    --color-console: #3d3846;
    --color-alarm: #ed333b;
    --color-alarm-hover: #e01b24;
    --color-alarm-click: #ff6347;
    --color-alarm-not-active: #D19191;
}

.shadow-md-up {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.15);
}

.shadow-md{
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.shadow-lg{
	box-shadow: 4px 7px 9px -1px rgba(0, 0, 0, 0.2);
}

.shadow-lg-up{
	box-shadow: 4px -7px 9px -1px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--color-bg);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: var(--color-txt);
    font-size: 14pt;
}

.width_70 {
    width: 80%;
    min-height: 600px;
    margin: 0 auto; /* Center align the content */
}

.header_text{
	display: flex;
	flex-direction: row;
    align-items: center;
	width: 100%;
}

.container_header {
	justify-content: space-between;
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 5px 50px; /* Add some padding inside the container */
    background-color: var(--color-bg-dark);;
    color: var(--color-txt); /* Set text color */
    min-width: 800px;
}

.center-container {
    display: flex; /* Включаем flexbox */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    height: 100vh; /* Задаем высоту контейнера на весь экран */
}

.horizontal-container{
	padding: 10px;
    margin: 5px;
    overflow: hidden;
    display: flex;
	margin: 0px;
    flex-direction: row;
    align-items: stretch;
}

.vertical-container {
    padding: 10px;
    margin: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.vertical-container-left {
    align-items: flex-start;
}

.container {
    padding: 10px;
    margin: 5px;
}

.console {
    width: 100%;
    height: 400px;
    background-color: var(--color-console);
    color: var(--color-txt-light);
    padding: 10px;
    overflow-y: auto; /* Прокрутка по вертикали */
    white-space: pre-wrap; /* Сохранение пробелов и перенос строк */
    width: 97%;
    min-width: 800px;
    margin: 10px;
}
.console li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.logo{
	position: relative;
	width: 100%;
	height: auto;
}

.logo img{
    width: 1920; 
    height: 700;
    object-fit: cover;
    layout: responsive;
}

.tarif_list ul {
    list-style: none; /* Remove default list styles */
    padding: 0px;
    margin: 0;
}
.tarif_list {
    display: flex;
    overflow-x: auto; /* Добавляем вертикальную прокрутку */
    white-space: nowrap;
}
.tarif_list li {
    cursor: pointer;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-bg-dark);
    display: flex;
    padding: 10px 30px;
    margin: 10px 10px;
    font-size: 14pt;
    width: 30%;
    min-width: 300px;
}

.tarif_list img {
	margin: 20px 10px; 
}

.tarif_list p {
	margin: 10px;
}

.file_list {
    display: grid; /* Используем grid для колонок */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Колонки с минимальной шириной 150px */
    overflow-y: auto; /* Вертикальная прокрутка */
    overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
    max-height: 800px; /* Установите максимальную высоту для контейнера */
}

.file_list ul {
    list-style: none; /* Убираем стандартные стили списка */
    padding: 0;
    margin: 0;
}

.file_list li {
    cursor: pointer;
    align-items: center;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column; /* Вертикальное направление элементов внутри li */
    padding: 10px 5px; /* Уменьшил отступы, чтобы избежать переполнения */
    margin: 10px; /* Убираем горизонтальные отступы */
    font-size: 14pt;
    min-width: 100px; /* Минимальная ширина элемента */
    min-height: 100px; /* Минимальная высота элемента */
}

.file_list li.selected {
    background-color: var(--color-bg-dark);
    /*border-radius: 6px;*/
    transition: background-color 0.2s;
    color: var(--color-txt); /* костыль */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.file_list li:hover {
    background-color: var(--color-bg-dark);
}

.truncate {
  white-space: nowrap;        /* Запретить перенос строк */
  overflow: hidden;           /* Скрыть переполнение */
  text-overflow: ellipsis;   /* Добавить многоточие */
  max-width: 130px;          /* Установите максимальную ширину по вашему усмотрению */
}

.file_list img {
	height: 100px; 
	width: 100px; 
}

.file_list p {
	margin: 10px;
	font-size: 12pt;
}

.server_list ul {
    list-style: none; /* Убираем стандартные стили списка */
    padding: 0;
    margin: 0;
}

.server_list {
    display: flex;
    flex-direction: column; /* Изменяем направление на вертикальное */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    max-height: 800px; /* Устанавливаем максимальную высоту для прокрутки */
}

.server_list li {
    cursor: pointer;
    align-items: center;
    background-color: var(--color-bg-dark);
    display: flex;
    padding: 10px 30px;
    margin: 10px 0; /* Убираем горизонтальные отступы */
    font-size: 14pt;
    width: 80%; /* Устанавливаем ширину на 100% */
}

.server_list img {
    margin: 20px 10px; 
}

.server_list p {
    margin: 10px;
}

.server_list button {
    margin-left: auto;
}

.selected {
    background-color: #2A3C49;
    color: #FAFBFC;
}
.not-selected {
    background-color: #1D6DA8;
    color: #FAFBFC;
}

.border {
    border: 2px solid var(--color-main);
    outline: none;
    transition: border-color 0.3s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

input {
    padding: 5px;
    margin: 10px;
    font-size: 15pt;
    border: 2px solid var(--color-main);
    outline: none;
    transition: border-color 0.3s;
    color: var(--color-main);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

input:focus {
    border-color: var(--color-accent);
    color: var(--color-main);
}

input:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}

input:disabled{
	border-color: var(--color-not-active);
	background-color: var(--color-bg-dark);
	color: var(--color-not-active);
}

select {
    padding: 5px;
    margin: 10px;
    font-size: 15pt;
    border: 2px solid var(--color-main);
    outline: none;
    transition: border-color 0.3s;
    color: var(--color-main);
    background-color: var(--color-bg);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

select:focus {
    border-color: var(--color-accent);
    color: var(--color-main);
}

select:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}

select:disabled{
	border-color: var(--color-not-active);
	background-color: var(--color-bg-dark);
	color: var(--color-not-active);
}

option{
    background-color: var(--color-white);
}

textarea {
    padding: 5px;
    margin: 10px;
    font-size: 15pt;
    border: 2px solid var(--color-main);
    outline: none;
    transition: border-color 0.3s;
    color: var(--color-main);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
    resize: vertical; /* Позволяет изменять размер по вертикали */
    width: 100%; /* Задает ширину на 100% от родителя */
}

textarea:focus {
    border-color: var(--color-accent);
    color: var(--color-main);
}

textarea:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}

textarea:disabled {
    border-color: var(--color-not-active);
    background-color: var(--color-bg-dark);
    color: var(--color-not-active);
}

button {
    padding: 8px 28px;
    background-color: var(--color-main);
    color: var(--color-txt-light);;
    border: none;
    cursor: pointer;
    margin: 5pt;
    font-size: 15pt;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

button:hover{
	background-color: var(--color-hover);
}

button:active{
	background-color: var(--color-click);
}

button:disabled{
	background-color: var(--color-not-active);
}

dialog {
     border: none;
     padding: 20px;
     width: 300px;
     height: 120px;
 }

.btnAlarm{
	background-color: var(--color-alarm);
}

.btnAlarm:hover{
	background-color: var(--color-alarm-hover);
}

.btnAlarm:active{
	background-color: var(--color-alarm-click);
}

.btnAlarm:disabled{
	background-color: var(--color-alarm-not-active);
}

h1 {
    font-size: 24pt;
}
h2 {
    font-size: 18pt;
}
h3 {
    font-size: 16pt;
}

/* Стили для таблиц */
table {
    border-collapse: collapse;
    margin-bottom: 20px;
    color: var(--color-txt-light);
}
thead {
    background-color: #2A3C49;
    color: #FAFBFC;
}
th {
    padding: 8px;
    color: var(--color-txt-light);
    width: 120pt;
    text-align: left;
    border: 2px solid #1D6DA8;
}
td {
    border: 2px solid #2A3C49;
    padding: 8px;
    color: #2A3C49;
}

.nav-list {
    display: flex;
    gap: 1rem; /* space-x-4 */
    list-style-type: none;
    min-width:800;
}

.nav-item{
    margin: 2px 5px;
}

.nav-item a {
    text-decoration: none;
    color: inherit; 
}

.nav-item a:hover {
    color: var(--color-hover); /* hover:text-hover */
}

.nav-item a:active {
    color: var(--color-click); /* active:text-click */
}

.aMargin{
	margin-top: 7px;
	margin-bottom: 7px;
}

.context-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}