res/target/
*.class
*.log
.idea/
*.iml
.metadata/
TestProjects/

/admin/statistics
admin/statistics/mineservers/2.csv
admin/statistics/machines/5.csv
admin/statistics/machines/2.csv
admin/statistics/machines/1.csv
