res/target/
*.class
*.log
.idea/
*.iml
.metadata/
TestProjects/

*.p12
*.key
*.crt
*.jks

/admin/statistics
admin/statistics/mineservers/2.csv
admin/statistics/machines/5.csv
admin/statistics/machines/2.csv
admin/statistics/machines/1.csv

/auth/src/main/resources/application.properties
/host/src/main/resources/application.properties
/order/src/main/resources/application.properties
/servers/src/main/resources/application.properties
/web/src/main/resources/application.properties
