<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кубы и моды</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="/js/buyTariff.js"></script>
   	<script src="/js/header.js"></script>
    <script th:inline = "javascript">
    const UserId = /*[[${id}]]*/ null;
    const Email = /*[[${email}]]*/ null;
    const TariffId = /*[[${tariffId}]]*/ null;
    </script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap">
    <link href="style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="colors.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
	<div id="app" class="width_70" >
		<div class="horizontal-container" style="width:98%;">
			<div class="vertical-container vertical-container-left" style="width:40%">			
				<br>Имя: {{tariff.name}}
				<br>Цена: {{tariff.cost_rub}} руб.
				<br>Количество потоков: {{tariff.cpu_threads}} шт.
				<br>ОЗУ: {{tariff.ram}} гб.
				<br>Память: {{Math.round(tariff.memory_limit/1024) }} мб.
				<br>Количество часов работы: {{tariff.hours_work_max}} ч.
				<br>Максимальное количество игроков: {{tariff.max_players}}</p>
				<input v-model="hostOrder.name" type="text" placeholder="Название сервера" required>
				<textarea 
				    v-model="hostOrder.description" 
				    placeholder="Описание сервера" 
				    required 
				    rows="5" 
				    style="width: 90%; height: 150px; resize: vertical;">
				</textarea>
				<div class="horizontal-container">
					<button class="btnAlarm" @click="cancel()">Отмена</button>
					<button @click="confirm()">Купить</button>
				</div>
			</div>
		
			<div class="vertical-container vertical-container-left" style="width:60%">
				<ul class="server_list" style="width:90%">
					<li v-for="machine in machines" class="shadow-lg" style="width:90%">
						<div>
							<p>Название: {{machine.name}}</p>
							<p>Адрес: {{machine.address}}</p>
							<p>ЦП: {{machine.cpu_name}}</p>
							<p>ОЗУ: {{machine.ram}}гб.</p>
						</div>
						<button @click="choose(machine)" style="width: 150px" :disabled="(machine.id==order.serverOrder.id)">
							{{ (machine.id==order.serverOrder.id) ? 'Выбран' : 'Выбрать' }}
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>