<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вернитесь в систему</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
	<div id="app" class="center-container">
		<div class="vertical-container bg-dark shadow-lg" style="width: 400px">
			<p>На вашу почту отправлен код</p>
			<input v-model="code" type="text" placeholder="Код доступа" required>
			<button @click="check_code">Подтвердить</button>
		</div>
	</div>
<script src="/js/checkMail.js"></script>
</body>
</html>