<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Консоль</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="colors.css" rel="stylesheet" type="text/css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/console.js"></script>
   	<script src="/js/header.js"></script>
 	<script th:inline = "javascript">
 	const UserID = /*[[${id}]]*/ null;
    const Email = /*[[${email}]]*/ null;
    const SRVId = /*[[${srvID}]]*/ null;
    const SRVTariff = /*[[${srvTariff}]]*/ null;
    const SRVSeconds = /*[[${srvSeconds}]]*/ null;
    const SRVMem = /*[[${srvMem}]]*/ null;
    </script>
</head>

<div th:replace="fragments/header :: header"></div>
<body>
<div class="horizontal-container" style="margin-top:10px">
	<div class="vertical-container nav-item bg-dark shadow-lg" style="width: 10%; height: 30%; margin-top: 100px; margin-left: auto">
		<a class="aMargin" th:href="@{/console(ServerId=${srvID})}"Нужно вставить сюда>Консоль</a>
		<a class="aMargin" th:href="@{/serverFiles(ServerId=${srvID})}">Файлы</a>
		<a class="aMargin" th:href="@{/serverBackup(ServerId=${srvID})}">Бэкапы</a>
		<a class="aMargin" th:href="@{/serverSettings(ServerId=${srvID})}">Настройки</a>
	</div>
	
		<div id="app" class="width_70">
		<div class="vertical-container" style="width: 90%">
			<p><span th:text="${srvName}"/></p>
			<div id="console" class="console shadow-lg">
				<ul>
				  <li v-for="(msg, index) in messages" :key="index">{{ msg }}</li>
				</ul>
			</div>
			<div class="horizontal-container" style="width: 100%; display: flex; align-items: center; padding: 0px">
	       		<input type="text" style="flex: 1; margin-right: 10px;" v-model="command" :disabled="!running" @keypress.enter="executeCommand" @keydown="handleKeyDown" placeholder="Введите команду..." />
	    		<button @click="executeCommand" :disabled="!running">Отправить</button>
			</div>
			<div class="horizontal-container">
				<button @click="startServer()" :disabled="running">
				    {{ running ? 'Сервер запущен' : 'Запустить сервер' }}
				</button>
				<button @click="saveServer" :disabled="!running">Сохранить</button>
				<button @click="reloadServer" :disabled="!running">Перезапустить</button>
				<button @click="stopServer" :disabled="!running" class="btnAlarm">
					{{ running ? 'Остановить сервер' : 'Сервер остановлен' }}
				</button>	
				<button @click="killServer" :disabled="!running" class="btnAlarm">
					{{ running ? 'Экстренно остановить сервер' : 'Сервер остановлен' }}
				</button>
			</div>
			<p>Тариф: {{tariff.name}}<br>
			Время работы: {{serverSerconds/3600}}ч. / {{tariff.hours_work_max}}ч.<br>
			Память: {{Math.round(serverMemory/1024)}}мб. / {{Math.round(tariff.memory_limit/1024)}}мб.
			</p>
		</div>
	</div>
</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>