<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кубы и моды</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="/js/files.js"></script>
   	<script src="/js/header.js"></script>
    <script th:inline = "javascript">
    const SrvID = /*[[${srvID}]]*/ null;
    const Email = /*[[${email}]]*/ null;
    </script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap">
    <link href="style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="colors.css" rel="stylesheet" type="text/css" media="screen">
</head>
<div th:replace="fragments/header :: header"></div>
<body>
	<div id="app" class="horizontal-container" style="margin-top:10px">
		<div class="vertical-container nav-item bg-dark shadow-lg" style="width: 10%; height: 30%; margin-top: 100px; margin-left: auto">
			<a class="aMargin" th:href="@{/console(ServerId=${srvID})}"Нужно вставить сюда>Консоль</a>
			<a class="aMargin" th:href="@{/serverFiles(ServerId=${srvID})}">Файлы</a>
			<a class="aMargin" th:href="@{/serverBackup(ServerId=${srvID})}">Бэкапы</a>
			<a class="aMargin" th:href="@{/serverSettings(ServerId=${srvID})}">Настройки</a>
		</div>
	    <div class="width_70 border" @click="handleUlClick($event)" @contextmenu.prevent="handleUlRightClick($event)">
			<div v-if="isContextMenuVisible" ref="fileContextMenu" id=dialog :style="{ top: contextMenuY + 'px', left: contextMenuX + 'px'}" class="context-menu">
				<button v-if="selectedFiles.length == 1" @click="renameFile()">Переименовать</button>
				<button @click="copyFile()">Копировать</button>
				<button @click="moveFile()">Вырезать</button>
				<button v-if="!selectedFile.isDirectory" @click="downloadFile()">Скачать</button><br v-if="!selectedFile.isDirectory">
			    <button @click="deleteFile()">Удалить</button>
			</div>
			
			<div v-if="isUlContextMenuVisible" ref="ulContextMenu" id=dialog :style="{ top: contextMenuY + 'px', left: contextMenuX + 'px' }" class="context-menu">
			    <button v-if="filterFiles(this.copyFilesData, false).length != 0" @click="pasteFile()">Вставить</button>
				<button @click="makeDir()">Создать папку</button>
			</div>
			
	    	<button @click="goBack()" v-if="filePath != ''">Назад</button>
	    	<input type="file" multiple @change="handleFileUpload"/>
	    	<input type="text" v-model="searchTerm" placeholder="Поиск" />
	    	<button @click="search()">Найти</button>
			<button @click="help()">Помощь</button>
	    	
			<ul class="file_list" >
		        <li v-for="file in currentFilesData.children"
				:class="{ selected: isSelected(file) }"
				@click="handleClick(file, $event)" 
      			@contextmenu.prevent="handleRightClick(file, $event)" 
      			@dblclick="handleDoubleClick(file)">
		        	<img :src="file.isDirectory ? 'img/dir.svg' : 'img/file.svg'" alt="Иконка файла или папки" />
		        	<p class="truncate">{{file.path.split('/').filter(Boolean).pop()}}</p>
		        </li>
			</ul>
	    </div>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>