<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кубы и моды</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="/js/tariffs.js"></script>
   	<script src="/js/header.js"></script>
    <script th:inline = "javascript">
    const Email = /*[[${email}]]*/ null;
    </script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap">
    <link href="style.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div id="app">
	    <div class="width_70">
	    	<h2>Выберите тариф:</h2>
			<ul class="file_list" style="grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))">
				<li v-for="tarif in tarifs" class="shadow-lg" style="width: 350px; height: 350px; padding-top: 50px" :key="tarif.id">
					<img src="/img/Placeholder.png" width="90%" height="90%" alt="Jew">
					<p>{{ tarif.name }}</p>
					<p>Кол-во ядер: {{ tarif.cpu_threads }} шт.</p>
					<p>ОЗУ: {{ tarif.ram }} гб.</p>
					<p>Цена: {{ tarif.cost_rub }} руб.</p>
					<button @click="buyTarif(tarif)">Купить</button>
				</li>
			</ul>
	    </div>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>