<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кубы и моды</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="/js/textReader.js"></script>
   	<script src="/js/header.js"></script>
    <script th:inline = "javascript">
    const UserID = /*[[${id}]]*/ null;
    const Email = /*[[${email}]]*/ null;
    const SrvID = /*[[${srvID}]]*/ null;
    const Path = /*[[${path}]]*/ null;
    </script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap">
    <link href="style.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div id="app" class="width_70" style="margin-top: 15px; margin-bottom: 15px">
	    <div class="width_70">
	    	<button @click="save()">Сохранить</button>
			<textarea 
			    v-model="file.text"
			    placeholder="Текст" 
			    required 
			    rows="30" 
			    style="width: 90%; height: 70%; resize: vertical;">
			</textarea>
	    </div>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>