<header>
	<img src="/img/LogoNew.png" class="logo" alt="Logo">
    <div id="header" class="container_header shadow-lg">
        <nav>
		    <ul class="nav-list">
		        <li class="nav-item"><a href="/">Главная</a></li>
		        <li class="nav-item"><a href="/tariffs">Тарифы</a></li>
		        <!--<li class="nav-item"><a href="/">Конструктор тарифов</a></li>-->
		        <li v-if="email!=null" class="nav-item"><a href="/myServers">Мои серверы</a></li>
		        <li class="nav-item"><a href="/about">О нас</a></li>
		    </ul>
        </nav>
        <div>
     		<button v-if="email==null" @click="goTo('/signIn')">Вход</button>
     		<button v-if="email==null" @click="goTo('/signUp')">Регистрация</button>
     		<button v-if="email!=null" @click="logOut()">Выход</button>
        </div>
    </div>
</header>