<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	
	<script src="/public/libs/vue.js"></script>
	<script src="/public/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap-vue.min.js"></script>
    <script src="/public/libs/axios.js"></script>

	<link href="/public/style.css" rel="stylesheet">
</head>
<body>
    <div id="app">

        <!-- Верхняя панель -->
        <nav class="navbar navbar-expand-lg px-4 d-flex align-items-center" style="height: 8vh; background-color: #e9ecef;">
            
            <a href="/">
                <img src="/public/icons/home.png" style="height: 3vh; margin-right: 1vw;"></img>
            </a>
    
            <span class="navbar-brand fs-3 fw-bold me-3">Редактирование аккаунтов</span>

            <span class="navbar-brand fs-3 ms-auto">{{ username }}</span>
            <span class="navbar-brand fs-3 me-3">{{ roleName }}</span>
    
            <img src="/public/logo.png" alt="Логотип" class="ms-auto" style="height: 6vh;">
        </nav>
        
        <b-card class="p-4 w-100">

            <b-tabs>
                <b-tab title="Администраторы">
                    <br><div class="d-flex justify-content-between mb-3">
                        <h3>Администраторы системы</h3>
                        <button @click="showAddModal" class="btn btn-primary">Добавить администратора</button>
                    </div>
        
                    <div class="mb-3">
                        <input v-model="searchQuery" class="form-control" placeholder="Поиск...">
                    </div>
        
                    <div class="d-flex">
                        <div style="width: 85%; height: 70vh; overflow-y: auto;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Переделать таблицу</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
        
                    <b-modal v-model="showModal" :title="modalTitle" hide-footer v-if="selectedUser">
                        <form @submit.prevent="saveUser">
                    
                            <div class="mb-3">
                                <label>Email *</label>
                                <input v-model="selectedUser.email" 
                                       type="email" 
                                       class="form-control" 
                                       required>
                            </div>
        
                            <div class="mb-3">
                                <label v-if="!selectedUser.id">Пароль *</label>
                                <label v-else>Новый пароль (оставьте пустым, если не хотите менять)</label>
                                <input v-model="selectedUser.passwordHash" 
                                       type="password" 
                                       class="form-control" 
                                       :required="!selectedUser.id">
                            </div>
                            <div class="mb-3">
                                <label>Подтвердите пароль</label>
                                <input v-model="selectedUser.passwordConfirm" 
                                       type="password" 
                                       class="form-control" 
                                       :required="!selectedUser.id">
                            </div>

                            И добавить сюда права юзера!
        
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <button type="button" 
                                        class="btn btn-secondary" 
                                        @click="showModal = false">
                                    Отмена
                                </button>
                            </div>
                        </form>
                    </b-modal>
                </b-tab>
                <b-tab title="Уведомления">
                    <br><h3>Подписка на email-уведомления</h3>

                    <p>Выберите пользователя, чтобы подписать на события объектов</p>
                    <select v-model="userToAdd" >
                        <option v-for="user in users" :value="user">
                            {{ user.worker.fullName }} ({{ user.email }})
                        </option>
                    </select>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Объект</th>
                                    <th>Подписанные пользователи</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in subscribeItems">
                                    <td>{{ getFacilityName(item.id_facility) }}</td>
                                    <td>
                                        <div class="d-flex flex-wrap gap-2 mb-2">
                                            <button class="btn btn-sm btn-primary" @click="addUserToS(item)" 
                                            v-if="userToAdd && !item.ids_users.find(x => x == userToAdd.id)">Подписать выбранного пользователя</button>
                                            <div v-for="id_user in item.ids_users" class="d-flex align-items-center bg-light rounded-pill border p-2">
                                                <button class="btn btn-sm btn-danger me-2" @click="deleteUserFromS(item, id_user)">
                                                    X
                                                </button>
                                                {{ getUserName(id_user) }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <b-button v-if="showSaveSubscribes" variant="primary" @click="saveSubscriptions()">Сохранить</b-button>
                    </div>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>


    <div th:insert="footer.html :: footer"></div>
	<script type="module" src="/public/js/login.js"></script> СМЕНИ СКРИПТ
</body>
</html>
