<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>API Requests</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:inline = "javascript">
		const requests = /*[[${requests}]]*/ null;
	</script>
	<style>
        .api_block {
            margin: 20px;
        }
		textarea {
			width: 70%;
			min-height: 110px
		}
    </style>
</head>
<body>
	<div id="app" class="api_block">
	    <h2>API Requests</h2>
	    
	    <!-- Список API запросов -->
	    <ul>
	        <li v-for="request in requests" :key="request.header">
	            <h3>{{ request.header }}</h3>

				<input v-model="request.path" placeholder="Введите URL"></input>
				<br>
				
				<textarea v-model="request.defaultJsonRequest" placeholder="(JSON)"></textarea>
				<br>
				<button @click="sendRequest(request)">Отправить запрос</button>
				
				<div v-if="request.response">
				    <h3>Ответ:</h3>
				    <p>Код ответа: {{ request.response.status }}</p>
				    <pre>{{ request.response.data }}</pre>
				</div>
	        </li>
	    </ul>

	    <!-- Поля для отправки запроса -->
	    <input v-model="url" placeholder="Введите URL" />
	    <textarea v-model="requestBody" placeholder="Введите тело запроса (JSON)"></textarea>
	    <select v-model="method">
	        <option value="GET">GET</option>
	        <option value="POST">POST</option>
	        <!-- Добавьте другие методы по необходимости -->
	    </select>
	    <button @click="sendRequest">Отправить запрос</button>
	    
	    <!-- Отображение ответа -->

	</div>
    
    <script>
        new Vue({
            el: '#app',
            data: {
                requests: [], // Здесь будет храниться список запросов
				url: '',
				 requestBody: '',
				 method: 'GET',
            },
            methods: {
                async sendRequest(request) {
                    try {
                        const res = await axios({
                            method: request.method,
                            url: request.path,
                            headers: {
                                'Content-Type': request.contentType //'application/json' 
                            },
                            data: request.defaultJsonRequest,
                        });
						    this.$set(request, 'response', res);

						} catch (error) {
						    // Также используйте Vue.set для обработки ошибки
						    this.$set(request, 'response', error.response ? error.response : error);
                    }
                },
            },
			mounted() {
				this.requests = requests; // Используйте JSON.parse для корректного преобразования строки в массив
				requests.forEach((val) => {
				    // Предполагаем, что defaultJsonRequest - это строка с JSON
				    try {
				        val.defaultJsonRequest = JSON.stringify(JSON.parse(val.defaultJsonRequest), null, 2); // Форматируем
				    } catch (error) {
				        console.error("Ошибка при парсинге defaultJsonRequest " + val.header, error);
				        val.defaultJsonRequest = ""; // Обработка ошибки
				    }
				});
			}

        });
    </script>
</body>
</html>
