<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	
	<script src="/public/libs/vue.js"></script>
	<script src="/public/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap-vue.min.js"></script>
    <script src="/public/libs/axios.js"></script>

	<link href="/public/style.css" rel="stylesheet">
</head>
<body>
    <div id="app">

        <h1>Cubes & Mods (Панель администратора)</h1>
		<p>ЗАГОТОВКА пустая, придётся с нуля верстать</p>
    </div>

    <div th:insert="footer.html :: footer"></div>
	<script type="module" src="/public/js/login.js"></script> СМЕНИ СКРИПТ
</body>
</html>
