<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel - Tariffs</title>
	<script src="/public/libs/chart.js"></script>

	<script src="/public/libs/vue.js"></script>
	<script src="/public/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap-vue.min.js"></script>
    <script src="/public/libs/axios.js"></script>
    <script src="/public/libs/toasted.js"></script>

	<link href="/public/style.css" rel="stylesheet">
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/toast_style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column vh-100 bg-light">
    <div id="app">

        <nav class="navbar navbar-expand-lg px-4 d-flex align-items-center" style="height: 8vh; background-color: #e9ecef;">
            
            <a href="/home">
                <img src="/public/icons/home.png" style="height: 3vh; margin-right: 1vw;"></img>
            </a>
            <span class="navbar-brand fs-3 fw-bold me-3">Редактирование тарифов</span>
        </nav>
        

        <b-card class="p-4 w-100">
            <br><div class="d-flex justify-content-between mb-3">
                <h3>Управление тарифами</h3>
                <button @click="showAddModal" class="btn btn-primary">Добавить тариф</button>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th v-for="field in fields" :key="field.key">{{ field.label }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tariff in tariffs" :key="tariff.id" @dblclick="editTariff(tariff)">
                        <td v-for="field in fields" :key="field.key">
                            <template v-if="field.key === 'enabled'">
                                <span :class="['badge', tariff.enabled ? 'bg-success' : 'bg-danger']">
                                    {{ tariff.enabled ? 'Включен' : 'Выключен' }}
                                </span>
                            </template>
                            <template v-else-if="field.key === 'actions'">
                                <button class="btn btn-sm btn-primary me-1" @click="editTariff(tariff)">
                                    Редактировать
                                </button>
                                <button class="btn btn-sm btn-danger" @click="confirmDelete(tariff)">
                                    Удалить
                                </button>
                            </template>
                            <template v-else>
                                {{ tariff[field.key] }}
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </b-card>

        <b-modal v-model="showModal" :title="modalTitle" @hidden="resetModal" hide-footer hide-header-close>
            <b-form @submit.prevent="saveTariff">
                <b-form-group label="Название тарифа" class="mb-3">
                    <b-form-input v-model="currentTariff.name" required></b-form-input>
                </b-form-group>
                             
                <b-form-group label="Стоимость (руб)" class="mb-3">
                    <b-form-input v-model="currentTariff.cost_rub" type="number" required></b-form-input>
                </b-form-group>
                
                <b-form-group label="ОЗУ (ГБ)" class="mb-3">
                    <b-form-input v-model="currentTariff.ram" type="number" required></b-form-input>
                </b-form-group>
                
                <b-form-group label="Потоки ЦП" class="mb-3">
                    <b-form-input v-model="currentTariff.cpu_threads" type="number" required></b-form-input>
                </b-form-group>
                
                <b-form-group label="Лимит ПЗУ (КБ)" class="mb-3">
                    <b-form-input v-model="currentTariff.memory_limit" type="number" required></b-form-input>
                </b-form-group>
                
                <b-form-group label="Макс. часов работы" class="mb-3">
                    <b-form-input v-model="currentTariff.hours_work_max" type="number" required></b-form-input>
                </b-form-group>
                
                <b-form-group label="Макс. игроков" class="mb-3">
                    <b-form-input v-model="currentTariff.max_players" type="number"></b-form-input>
                </b-form-group>
                
                <b-form-group class="mb-3">
                    <b-form-checkbox v-model="currentTariff.enabled" class="p-2">
                        &nbsp; Включен?
                    </b-form-checkbox>
                </b-form-group>                
                <div class="mt-3">
                    <b-button type="submit" variant="primary">Сохранить</b-button>
                    <b-button @click="showModal = false" variant="secondary">Отмена</b-button>
                </div>
            </b-form>
        </b-modal>
    </div>

    <div th:insert="footer.html :: footer"></div>
    <script type="module" src="/public/js/tariffs.js"></script>
</body>
</html>